<div class="container">
    <h1 class="mt-4">Chat comunitario</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="mt-4">
                <label for="chatBox" class="form-label">Nuevo mensaje</label>
                <input class="form-control" type="text" id="chatBox" placeholder="Ingrese su mensaje y presione enter para enviar">
            </div>

            <div class="mt-4" style=" border: 1px solid black; padding: 1rem 2rem; border-radius: 5px;">
                <p class="" id="messageLogs"></p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-header">
                    Últimas conexiones:
                </div>
                <ul class="list-group list-group-flush" id="enLinea">
                </ul>
            </div>
        </div>
    </div>
</div>